
{"swagger":"2.0",
 "info":{
 	"description":"ACORD API Documentation",
	"version":"2.0.0",
	"title":"ACORD API",
	"termsOfService":"acord.org/terms",
	"contact":{"email":"beilakj@acord.org"},
	"license":{
		"name":"ACORD Licence",
		"url":"http://www.acord.org"
		}
	},
 "host":"www.acord.org",
 "basePath":"/api/v2",
 "tags":[ 		
 	{"name":"policy","description":"Access everything about a policy","externalDocs":{"description":"Find out more","url":"http://demo.goodville.com/docs/policy"}},
	{"name":"claim","description":"Access everything about a claim"},
	{"name":"agent","description":"Access information about our agents","externalDocs":{"description":"Find out more about our store","url":"http://demo.goodville.com/docs/agents"}}
	],
"schemes":["http"],
"paths":{
"/policy":{
			"post":{
				"tags":["Policy"],
				"summary":"Policy Request",
				"description":"This message expresses a policy Request",
				"operationId":"PolicyRq",
				"consumes":["application/xml","application/json"],
				"produces":["application/xml","application/json"],
				"parameters":[{"in":"body","name":"body","description":"XML for looking up a policy","required":true,"schema":{"$ref":"#/definitions/PolicyRq"}}],
				"responses":{
					"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PolicyRs"}},
					"400":{"description":"Invalid Order"}}}
		},
"/claim":{
			"post":{
				"tags":["claim"],
				"summary":"Claim Notification Add Request",
				"description":"This message submits the first notice of loss and accompanying claims attachments.",
				"operationId":"ClaimNotificationAddRq",
				"consumes":["application/xml","application/json"],
				"produces":["application/xml","application/json"],
				"parameters":[{"in":"body","name":"body","description":"XML Content for reporting a loss","required":true,"schema":{"$ref":"#/definitions/ClaimsNotificationAddRq"}}],
				"responses":{
					"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ClaimsNotificationAddRs"}},
					"400":{"description":"Invalid Order"}}}
		}
	},
"definitions":{"AboveGroundInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AcceptedDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccidentTime":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccidentViolation":{"type":"object","format":"AccidentViolation_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"DriverRef":{"type":"string","description":"","xml":{"attribute":true}},"VehRef":{"type":"string","description":"","xml":{"attribute":true}},"AccidentViolationCd":{"type":"string","description":"","properties":{}},"AccidentViolationDt":{"type":"string","description":"","properties":{}},"DamageTotalAmt":{"type":"string","description":"","properties":{}},"BIInd":{"type":"string","description":"","properties":{}},"AccidentTime":{"type":"string","description":"","properties":{}},"NumSurchargePoints":{"type":"string","description":"","properties":{}},"AccidentViolationDesc":{"type":"string","description":"","properties":{}},"PlaceIncident":{"type":"string","description":"","properties":{}},"PaidLossDt":{"type":"string","description":"","properties":{}},"ConvictionDt":{"type":"string","description":"","properties":{}},"AccidentViolationRecordTypeCd":{"type":"string","description":"","properties":{}},"PDInd":{"type":"string","description":"","properties":{}},"LossPayment":{"type":"string","description":"","properties":{}},"ChargeableInd":{"type":"string","description":"","properties":{}},"ExcessSpeed":{"type":"string","description":"","properties":{}},"ResponsiblePct":{"type":"string","description":"","properties":{}},"QuestionAnswer":{"type":"string","description":"","properties":{}},"ConvictionsDuration":{"type":"string","description":"","properties":{}},"ConvictionDueToAccidentInd":{"type":"string","description":"","properties":{}},"SurchargeDt":{"type":"string","description":"","properties":{}}}},"AccidentViolationCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccidentViolationDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccidentViolationDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccidentViolationRecordTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccountingSvcRq":{"type":"object","format":"AccountingSvcRq_Type","description":"","xml":{},"properties":{"RqUID":{"type":"string","description":"","properties":{}},"SPName":{"type":"string","description":"","properties":{}},"BillingInqRq":{"type":"string","description":"","properties":{}},"BillingCancelReinstateNotifyRq":{"type":"string","description":"","properties":{}},"BillingNotifyRq":{"type":"string","description":"","properties":{}},"BillingNotifyModRq":{"type":"string","description":"","properties":{}},"BindingAuthorityPremiumTransactionReportNotify":{"type":"string","description":"","properties":{}},"BindingAuthorityClaimTransactionReportNotify":{"type":"string","description":"","properties":{}},"BindingAuthorityRiskBoundReportNotify":{"type":"string","description":"","properties":{}}}},"ACCOUNTINGSVCRQMSGS":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccountingSvcRs":{"type":"object","format":"AccountingSvcRs_Type","description":"","xml":{},"properties":{"Status":{"type":"string","description":"","properties":{}},"RqUID":{"type":"string","description":"","properties":{}},"SPName":{"type":"string","description":"","properties":{}},"BillingInqRs":{"type":"string","description":"","properties":{}},"BillingCancelReinstateNotifyRs":{"type":"string","description":"","properties":{}},"BillingNotifyRs":{"type":"string","description":"","properties":{}},"BillingNotifyModRs":{"type":"string","description":"","properties":{}},"BindingAuthorityPremiumTransactionReportNotifyRs":{"type":"string","description":"","properties":{}},"BindingAuthorityClaimTransactionReportNotifyRs":{"type":"string","description":"","properties":{}},"BindingAuthorityRiskBoundReportNotifyRs":{"type":"string","description":"","properties":{}}}},"ACCOUNTINGSVCRSMSGS":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccountNumberId":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AccountsPayableAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AccountsPayableChecksAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AccountsReceivableInfo":{"type":"object","format":"AccountsReceivableInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"RiskClassificationCd":{"type":"string","description":"","properties":{}},"SourceIncomePct":{"type":"string","description":"","properties":{}},"DuplicateRecordsInd":{"type":"string","description":"","properties":{}},"DuplicateRecordsPct":{"type":"string","description":"","properties":{}},"NumMonths":{"type":"string","description":"","properties":{}},"HistoryReceivablesInfo":{"type":"string","description":"","properties":{}},"ValueInfo":{"type":"string","description":"","properties":{}}}},"AccountYear":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AcctTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AcessoriAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"ACORD":{"type":"object","format":"ACORD_Type","description":"","xml":{},"properties":{"SignonRq":{"$ref":"#/definitions/SignonRq"},"BaseSvcRq":{"$ref":"#/definitions/BaseSvcRq"},"InsuranceSvcRq":{"$ref":"#/definitions/InsuranceSvcRq"},"SuretySvcRq":{"$ref":"#/definitions/SuretySvcRq"},"ClaimsSvcRq":{"$ref":"#/definitions/ClaimsSvcRq"},"AccountingSvcRq":{"$ref":"#/definitions/AccountingSvcRq"},"CommonSvcRq":{"$ref":"#/definitions/CommonSvcRq"},"SignoffRq":{"$ref":"#/definitions/SignoffRq"},"Status":{"$ref":"#/definitions/Status"},"SignonRs":{"$ref":"#/definitions/SignonRs"},"BaseSvcRs":{"$ref":"#/definitions/BaseSvcRs"},"InsuranceSvcRs":{"$ref":"#/definitions/InsuranceSvcRs"},"SuretySvcRs":{"$ref":"#/definitions/SuretySvcRs"},"ClaimsSvcRs":{"$ref":"#/definitions/ClaimsSvcRs"},"AccountingSvcRs":{"$ref":"#/definitions/AccountingSvcRs"},"CommonSvcRs":{"$ref":"#/definitions/CommonSvcRs"},"SignoffRs":{"$ref":"#/definitions/SignoffRs"}}},"ACORDREQ":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ACORDRSP":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ACORDStandardVersionCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AcquiredDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AcquiredFromName":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AcquisitionMethodCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActionCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActiveInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActivitiesDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActivityCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActivityDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActivityDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActivityNoteNotify":{"type":"object","format":"ActivityNoteNotify_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"CorrelationUID":{"$ref":"#/definitions/CorrelationUID"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"PartialPolicy":{"$ref":"#/definitions/PartialPolicy"},"ActivityNoteTypeCd":{"$ref":"#/definitions/ActivityNoteTypeCd"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ClaimsOccurrence":{"$ref":"#/definitions/ClaimsOccurrence"},"BillingAccountNumber":{"$ref":"#/definitions/BillingAccountNumber"},"BalanceInfo":{"$ref":"#/definitions/BalanceInfo"},"BillingAccountStatusCd":{"$ref":"#/definitions/BillingAccountStatusCd"},"QuestionAnswer":{"$ref":"#/definitions/QuestionAnswer"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"ActivityNoteNotifyRs":{"type":"object","format":"ActivityNoteNotifyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"CorrelationUID":{"$ref":"#/definitions/CorrelationUID"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"}}},"ActivityNoteTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ActualRemunerationAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"ActualWeeklyAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AddedReparationsBenefitsSymbolCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdditionalClaimInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdditionalClassCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdditionalIncludedPartiesCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdditionalInterest":{"type":"object","format":"AdditionalInterest_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ItemIdInfo":{"type":"string","description":"","properties":{}},"GeneralPartyInfo":{"type":"string","description":"","properties":{}},"AdditionalInterestInfo":{"type":"string","description":"","properties":{}}}},"AdditionalInterestInfo":{"type":"object","format":"AdditionalInterestInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"NatureInterestCd":{"type":"string","description":"","properties":{}},"InterestRank":{"type":"string","description":"","properties":{}},"AccountNumberId":{"type":"string","description":"","properties":{}},"InterestIdNumber":{"type":"string","description":"","properties":{}},"PayorInd":{"type":"string","description":"","properties":{}},"BillFrequencyCd":{"type":"string","description":"","properties":{}},"CertificateFrequencyCd":{"type":"string","description":"","properties":{}},"CertificateRequiredDt":{"type":"string","description":"","properties":{}},"CertificateIssuedDt":{"type":"string","description":"","properties":{}},"PolicyRequiredDt":{"type":"string","description":"","properties":{}},"PolicyIssuedDt":{"type":"string","description":"","properties":{}},"InterestEndDt":{"type":"string","description":"","properties":{}},"InformationalBillingInd":{"type":"string","description":"","properties":{}},"PolicyFrequencyCd":{"type":"string","description":"","properties":{}},"FinancedAmt":{"type":"string","description":"","properties":{}},"InterestPct":{"type":"string","description":"","properties":{}},"WorkCompCoverageInd":{"type":"string","description":"","properties":{}},"ReasonDesc":{"type":"string","description":"","properties":{}}}},"AdditionalLevelArea":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"AdditionalPayInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdditionalQuotedScenario":{"type":"object","format":"AdditionalQuotedScenario_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"Description":{"type":"string","description":"","properties":{}},"FullTermAmt":{"type":"string","description":"","properties":{}},"QuotedCoverage":{"type":"string","description":"","properties":{}}}},"AdditionalResidenceInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdditionalUsesDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdditionArea":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"AdditionsExtensionsIncludedCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Addr":{"type":"object","format":"Addr_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"PreferredContactRef":{"type":"string","description":"","xml":{"attribute":true}},"AddrTypeCd":{"type":"string","description":"","properties":{}},"Addr1":{"type":"string","description":"","properties":{}},"DetailAddr":{"type":"string","description":"","properties":{}},"Addr2":{"type":"string","description":"","properties":{}},"Addr3":{"type":"string","description":"","properties":{}},"Addr4":{"type":"string","description":"","properties":{}},"City":{"type":"string","description":"","properties":{}},"StateProvCd":{"type":"string","description":"","properties":{}},"StateProv":{"type":"string","description":"","properties":{}},"PostalCode":{"type":"string","description":"","properties":{}},"CountryCd":{"type":"string","description":"","properties":{}},"Country":{"type":"string","description":"","properties":{}},"Latitude":{"type":"string","description":"","properties":{}},"Longitude":{"type":"string","description":"","properties":{}},"County":{"type":"string","description":"","properties":{}},"Region":{"type":"string","description":"","properties":{}},"RegionCd":{"type":"string","description":"","properties":{}},"Township":{"type":"string","description":"","properties":{}},"LegalAddr":{"type":"string","description":"","properties":{}},"ItemIdInfo":{"type":"string","description":"","properties":{}}}},"Addr1":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ADDR1_CHOICE":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Addr2":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Addr3":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Addr4":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AddrTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdequateClearanceInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdjNumLicensePoints":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdjusterParty":{"type":"object","format":"AdjusterParty_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"ItemIdInfo":{"type":"string","description":"","properties":{}},"GeneralPartyInfo":{"type":"string","description":"","properties":{}},"AdjusterPartyInfo":{"type":"string","description":"","properties":{}}}},"AdjusterPartyInfo":{"type":"object","format":"AdjusterPartyInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AssignmentRef":{"type":"string","description":"","xml":{"attribute":true}},"AdjusterTypeCd":{"type":"string","description":"","properties":{}},"AssignedDt":{"type":"string","description":"","properties":{}},"CoverageCd":{"type":"string","description":"","properties":{}},"LossCauseCd":{"type":"string","description":"","properties":{}},"ReportNumber":{"type":"string","description":"","properties":{}}}},"AdjusterTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdMediaCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdministrativeActionInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AdvertisersLiabilityInfo":{"type":"object","format":"AdvertisersLiabilityInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"OtherOrPriorPolicyRef":{"type":"string","description":"","xml":{"attribute":true}},"AdMediaCd":{"type":"string","description":"","properties":{}},"AnnualCostAmt":{"type":"string","description":"","properties":{}}}},"AffiliationInfo":{"type":"object","format":"AffiliationInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"CommercialName":{"type":"string","description":"","properties":{}},"LegalEntityCd":{"type":"string","description":"","properties":{}},"TitleRelationshipCd":{"type":"string","description":"","properties":{}},"MiscParty":{"type":"string","description":"","properties":{}}}},"Age":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AgeGroupCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AgencyBinderNumber":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AgencyId":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AgreedValueInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AgreementDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AgriculturalAviation":{"type":"object","format":"AgriculturalAviation_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AircraftRef":{"type":"string","description":"","xml":{"attribute":true}},"FormerNameRefs":{"type":"string","description":"","xml":{"attribute":true}},"NumYrsInAerialAg":{"type":"string","description":"","properties":{}},"HomeStateProvCd":{"type":"string","description":"","properties":{}},"OtherStatesOperDesc":{"type":"string","description":"","properties":{}},"SafetyProgramDt":{"type":"string","description":"","properties":{}},"NumAircraft":{"type":"string","description":"","properties":{}},"LossDt":{"type":"string","description":"","properties":{}},"AdditionalUsesDesc":{"type":"string","description":"","properties":{}}}},"AirBagInfo":{"type":"object","format":"AirBagInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AirBagTypeCd":{"type":"string","description":"","properties":{}},"AirBagStatusCd":{"type":"string","description":"","properties":{}}}},"AirBagStatusCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirBagTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirConditioningCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Aircraft":{"type":"object","format":"Aircraft_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AirportRef":{"type":"string","description":"","xml":{"attribute":true}},"TraineeRef":{"type":"string","description":"","xml":{"attribute":true}},"InstructorRef":{"type":"string","description":"","xml":{"attribute":true}},"FlightSchoolRef":{"type":"string","description":"","xml":{"attribute":true}},"ItemIdInfo":{"type":"string","description":"","properties":{}},"RegistrationId":{"type":"string","description":"","properties":{}},"ModelYear":{"type":"string","description":"","properties":{}},"Manufacturer":{"type":"string","description":"","properties":{}},"Model":{"type":"string","description":"","properties":{}},"SerialIdNumber":{"type":"string","description":"","properties":{}},"AircraftTypeCd":{"type":"string","description":"","properties":{}},"AircraftUseCd":{"type":"string","description":"","properties":{}},"AircraftUseDesc":{"type":"string","description":"","properties":{}},"AircraftEngineTypeCd":{"type":"string","description":"","properties":{}},"Horsepower":{"type":"string","description":"","properties":{}},"SeatingCapacity":{"type":"string","description":"","properties":{}},"ItemValueAmt":{"type":"string","description":"","properties":{}},"AircraftStorageCd":{"type":"string","description":"","properties":{}},"InspectionDt":{"type":"string","description":"","properties":{}},"LoggedHours":{"type":"string","description":"","properties":{}},"NonPavedUseWhereDesc":{"type":"string","description":"","properties":{}},"NonPavedUsePurposeDesc":{"type":"string","description":"","properties":{}},"NonPavedUseFrequencyCd":{"type":"string","description":"","properties":{}},"TerritoryDesc":{"type":"string","description":"","properties":{}},"AdditionalInterest":{"type":"string","description":"","properties":{}},"Form":{"type":"string","description":"","properties":{}},"Coverage":{"type":"string","description":"","properties":{}},"CommlCoverage":{"type":"string","description":"","properties":{}},"QuestionAnswer":{"type":"string","description":"","properties":{}}}},"AircraftEngineTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AircraftLineBusiness":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AircraftLossInfo":{"type":"object","format":"AircraftLossInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"ViewItemRef":{"type":"string","description":"","xml":{"attribute":true}},"OwnerRef":{"type":"string","description":"","xml":{"attribute":true}},"LossPayeeRef":{"type":"string","description":"","xml":{"attribute":true}},"ClaimsPartyRefs":{"type":"string","description":"","xml":{"attribute":true}},"PilotRef":{"type":"string","description":"","xml":{"attribute":true}},"InsuredAircraftInd":{"type":"string","description":"","properties":{}},"Pilot":{"type":"string","description":"","properties":{}},"Aircraft":{"type":"string","description":"","properties":{}},"ObjectLossDesc":{"type":"string","description":"","properties":{}},"DamageDesc":{"type":"string","description":"","properties":{}},"WhereSeenDesc":{"type":"string","description":"","properties":{}},"OtherInsuranceInd":{"type":"string","description":"","properties":{}},"PropertyDamagedNonAircraftInd":{"type":"string","description":"","properties":{}},"ProbableIncurredAmt":{"type":"string","description":"","properties":{}}}},"AircraftModelsDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AircraftOwnedServiced":{"type":"object","format":"AircraftOwnedServiced_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"Manufacturer":{"type":"string","description":"","properties":{}},"Model":{"type":"string","description":"","properties":{}},"NumAircraft":{"type":"string","description":"","properties":{}}}},"AircraftPolicy":{"type":"object","format":"AircraftPolicy_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"Producer":{"type":"string","description":"","properties":{}},"InsuredOrPrincipal":{"type":"string","description":"","properties":{}},"Policy":{"type":"string","description":"","properties":{}},"CommlPolicy":{"type":"string","description":"","properties":{}},"FarmRanchPolicy":{"type":"string","description":"","properties":{}},"PersPolicy":{"type":"string","description":"","properties":{}},"Location":{"type":"string","description":"","properties":{}},"LocationUWInfo":{"type":"string","description":"","properties":{}},"CommlSubLocation":{"type":"string","description":"","properties":{}},"FarmSubLocation":{"type":"string","description":"","properties":{}},"AircraftLineBusiness":{"type":"string","description":"","properties":{}},"RemarkText":{"type":"string","description":"","properties":{"IdRef":{"type":"string","description":"","xml":{"attribute":true}}}},"FileAttachmentInfo":{"type":"string","description":"","properties":{}},"Extension":{"type":"string","description":"","properties":{}}}},"AircraftPolicyAddRq":{"type":"object","format":"AircraftPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftPolicyAddRs":{"type":"object","format":"AircraftPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"AircraftPolicy":{"$ref":"#/definitions/AircraftPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftPolicyFullImageNotify":{"type":"object","format":"AircraftPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftPolicyFullImageNotifyRs":{"type":"object","format":"AircraftPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"AircraftPolicy":{"$ref":"#/definitions/AircraftPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftPolicyModRq":{"type":"object","format":"AircraftPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftPolicyModRs":{"type":"object","format":"AircraftPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"AircraftPolicy":{"$ref":"#/definitions/AircraftPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftPolicyQuoteInqRq":{"type":"object","format":"AircraftPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftPolicyQuoteInqRs":{"type":"object","format":"AircraftPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AircraftLineBusiness":{"$ref":"#/definitions/AircraftLineBusiness"},"AircraftPolicy":{"$ref":"#/definitions/AircraftPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AircraftStorageCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AircraftSystemsDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AircraftTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AircraftUseCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AircraftUseDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Airline":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirlineEquipment":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirmanCertNumber":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Airport":{"type":"object","format":"Airport_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"LocationRef":{"type":"string","description":"","xml":{"attribute":true}},"AirportTypeCd":{"type":"string","description":"","properties":{}},"AirportTypeDesc":{"type":"string","description":"","properties":{}},"AircraftStorageCd":{"type":"string","description":"","properties":{}},"AirportStorageDesc":{"type":"string","description":"","properties":{}},"Elevation":{"type":"string","description":"","properties":{}},"SeaLaneDesc":{"type":"string","description":"","properties":{}},"ApplicantInterestCd":{"type":"string","description":"","properties":{}},"AirportOccupancyCd":{"type":"string","description":"","properties":{}},"AirportOccupancyDesc":{"type":"string","description":"","properties":{}},"DistanceToFireStation":{"type":"string","description":"","properties":{}},"NumAircraftAirline":{"type":"string","description":"","properties":{}},"NumAircraftGeneral":{"type":"string","description":"","properties":{}},"NumAircraftMilitary":{"type":"string","description":"","properties":{}},"NumArrivalsAirline":{"type":"string","description":"","properties":{}},"NumArrivalsGeneral":{"type":"string","description":"","properties":{}},"NumArrivalsMilitary":{"type":"string","description":"","properties":{}},"NumBldgs":{"type":"string","description":"","properties":{}},"PremisesDesc":{"type":"string","description":"","properties":{}},"ActivitiesDesc":{"type":"string","description":"","properties":{}},"RecreationalDesc":{"type":"string","description":"","properties":{}},"AirShowDesc":{"type":"string","description":"","properties":{}},"ConstructionCostAmt":{"type":"string","description":"","properties":{}},"MaxValueAmt":{"type":"string","description":"","properties":{}},"Airline":{"type":"string","description":"","properties":{}},"AirlineEquipment":{"type":"string","description":"","properties":{}},"AirportManagement":{"type":"string","description":"","properties":{}},"ControlTower":{"type":"string","description":"","properties":{}},"Runway":{"type":"string","description":"","properties":{}},"Coverage":{"type":"string","description":"","properties":{}},"CommlCoverage":{"type":"string","description":"","properties":{}},"QuestionAnswer":{"type":"string","description":"","properties":{}}}},"AirportFBOLineBusiness":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirportFBOPolicy":{"type":"object","format":"AirportFBOPolicy_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"Producer":{"type":"string","description":"","properties":{}},"InsuredOrPrincipal":{"type":"string","description":"","properties":{}},"Policy":{"type":"string","description":"","properties":{}},"CommlPolicy":{"type":"string","description":"","properties":{}},"FarmRanchPolicy":{"type":"string","description":"","properties":{}},"PersPolicy":{"type":"string","description":"","properties":{}},"Location":{"type":"string","description":"","properties":{}},"LocationUWInfo":{"type":"string","description":"","properties":{}},"CommlSubLocation":{"type":"string","description":"","properties":{}},"FarmSubLocation":{"type":"string","description":"","properties":{}},"AirportFBOLineBusiness":{"type":"string","description":"","properties":{}},"RemarkText":{"type":"string","description":"","properties":{"IdRef":{"type":"string","description":"","xml":{"attribute":true}}}},"FileAttachmentInfo":{"type":"string","description":"","properties":{}},"Extension":{"type":"string","description":"","properties":{}}}},"AirportFBOPolicyAddRq":{"type":"object","format":"AirportFBOPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportFBOPolicyAddRs":{"type":"object","format":"AirportFBOPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"AirportFBOPolicy":{"$ref":"#/definitions/AirportFBOPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportFBOPolicyFullImageNotify":{"type":"object","format":"AirportFBOPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportFBOPolicyFullImageNotifyRs":{"type":"object","format":"AirportFBOPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"AirportFBOPolicy":{"$ref":"#/definitions/AirportFBOPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportFBOPolicyModRq":{"type":"object","format":"AirportFBOPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportFBOPolicyModRs":{"type":"object","format":"AirportFBOPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"AirportFBOPolicy":{"$ref":"#/definitions/AirportFBOPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportFBOPolicyQuoteInqRq":{"type":"object","format":"AirportFBOPolicyRq_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionRequestDt":{"$ref":"#/definitions/TransactionRequestDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"BroadLOBCd":{"$ref":"#/definitions/BroadLOBCd"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"PendManualProcessingInd":{"$ref":"#/definitions/PendManualProcessingInd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"NotifySenderRoleCd":{"$ref":"#/definitions/NotifySenderRoleCd"},"NotifySender":{"$ref":"#/definitions/NotifySender"},"NotifyReceiver":{"$ref":"#/definitions/NotifyReceiver"},"MsgSeqNumber":{"$ref":"#/definitions/MsgSeqNumber"},"TransactionSeqNumber":{"$ref":"#/definitions/TransactionSeqNumber"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"ReplacementInfo":{"$ref":"#/definitions/ReplacementInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportFBOPolicyQuoteInqRs":{"type":"object","format":"AirportFBOPolicyRs_Type","description":"","xml":{},"properties":{"RqUID":{"$ref":"#/definitions/RqUID"},"BusinessPurposeTypeCd":{"$ref":"#/definitions/BusinessPurposeTypeCd"},"ItemIdInfo":{"$ref":"#/definitions/ItemIdInfo"},"TransactionResponseDt":{"$ref":"#/definitions/TransactionResponseDt"},"ActivityDt":{"$ref":"#/definitions/ActivityDt"},"TransactionEffectiveDt":{"$ref":"#/definitions/TransactionEffectiveDt"},"CurCd":{"$ref":"#/definitions/CurCd"},"CodeList":{"$ref":"#/definitions/CodeList"},"ConversionRate":{"$ref":"#/definitions/ConversionRate"},"MsgStatus":{"$ref":"#/definitions/MsgStatus"},"ACORDStandardVersionCd":{"$ref":"#/definitions/ACORDStandardVersionCd"},"AppetiteRequestInd":{"$ref":"#/definitions/AppetiteRequestInd"},"RiskAppetiteCd":{"$ref":"#/definitions/RiskAppetiteCd"},"FormsRequestedCd":{"$ref":"#/definitions/FormsRequestedCd"},"ResponseURL":{"$ref":"#/definitions/ResponseURL"},"SaveIndicationCd":{"$ref":"#/definitions/SaveIndicationCd"},"SourceSystem":{"$ref":"#/definitions/SourceSystem"},"ModInfo":{"$ref":"#/definitions/ModInfo"},"CancelNonRenewInfo":{"$ref":"#/definitions/CancelNonRenewInfo"},"ReinstateInfo":{"$ref":"#/definitions/ReinstateInfo"},"AdditionalQuotedScenario":{"$ref":"#/definitions/AdditionalQuotedScenario"},"PolicySummaryInfo":{"$ref":"#/definitions/PolicySummaryInfo"},"Producer":{"$ref":"#/definitions/Producer"},"InsuredOrPrincipal":{"$ref":"#/definitions/InsuredOrPrincipal"},"Policy":{"$ref":"#/definitions/Policy"},"CommlPolicy":{"$ref":"#/definitions/CommlPolicy"},"FarmRanchPolicy":{"$ref":"#/definitions/FarmRanchPolicy"},"PersPolicy":{"$ref":"#/definitions/PersPolicy"},"Location":{"$ref":"#/definitions/Location"},"LocationUWInfo":{"$ref":"#/definitions/LocationUWInfo"},"CommlSubLocation":{"$ref":"#/definitions/CommlSubLocation"},"FarmSubLocation":{"$ref":"#/definitions/FarmSubLocation"},"AirportFBOLineBusiness":{"$ref":"#/definitions/AirportFBOLineBusiness"},"AirportFBOPolicy":{"$ref":"#/definitions/AirportFBOPolicy"},"RemarkText":{"$ref":"#/definitions/RemarkText"},"FileAttachmentInfo":{"$ref":"#/definitions/FileAttachmentInfo"},"Extension":{"$ref":"#/definitions/Extension"}}},"AirportManagement":{"type":"object","format":"AirportManagement_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"BusinessOwner":{"type":"string","description":"","properties":{}},"BusinessOwnerStatusCd":{"type":"string","description":"","properties":{}},"EmployeeStatusCd":{"type":"string","description":"","properties":{}},"BusinessManagerDesc":{"type":"string","description":"","properties":{}},"BusinessManagerExpDesc":{"type":"string","description":"","properties":{}},"FlightOpManagerDesc":{"type":"string","description":"","properties":{}},"FlightOpManagerExpDesc":{"type":"string","description":"","properties":{}}}},"AirportOccupancyCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirportOccupancyDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirportStorageDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirportTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirportTypeDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AirShowDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlarmAndSecurity":{"type":"object","format":"AlarmAndSecurity_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AlarmDescCd":{"type":"string","description":"","properties":{}},"AlarmDesc":{"type":"string","description":"","properties":{}},"AlarmTypeCd":{"type":"string","description":"","properties":{}},"BulletResistingEnclosureTypeCd":{"type":"string","description":"","properties":{}},"ULCertificateExpirationDt":{"type":"string","description":"","properties":{}},"DtTimeOnSurveillanceInd":{"type":"string","description":"","properties":{}},"LineSecurityInd":{"type":"string","description":"","properties":{}},"MaintenanceContractInd":{"type":"string","description":"","properties":{}},"MonitoredSurveillanceInd":{"type":"string","description":"","properties":{}},"NumGuards":{"type":"string","description":"","properties":{}},"NumWatchPersons":{"type":"string","description":"","properties":{}},"NumGuardsWatchPersons":{"type":"string","description":"","properties":{}},"ProtectionClassGradeCd":{"type":"string","description":"","properties":{}},"ProtectionExtentCd":{"type":"string","description":"","properties":{}},"RecordedSurveillanceInd":{"type":"string","description":"","properties":{}},"RecordingArchivedInd":{"type":"string","description":"","properties":{}},"RecordingDuration":{"type":"string","description":"","properties":{}},"RemoteSurveillanceInd":{"type":"string","description":"","properties":{}},"RemoteSurveillanceTypeCd":{"type":"string","description":"","properties":{}},"ULCertificateNumber":{"type":"string","description":"","properties":{}},"WatchPersonsFactorCd":{"type":"string","description":"","properties":{}},"AlarmCoverageAreaCd":{"type":"string","description":"","properties":{}},"ULCertificateIssueDt":{"type":"string","description":"","properties":{}},"ItemDefinition":{"type":"string","description":"","properties":{}},"MiscParty":{"type":"string","description":"","properties":{}},"NumHoldUpButtons":{"type":"string","description":"","properties":{}},"BldgSeenFrequencyCd":{"type":"string","description":"","properties":{}},"BldgSeenFrequencyDesc":{"type":"string","description":"","properties":{}},"LastVisitedDt":{"type":"string","description":"","properties":{}},"LastVisitedByCd":{"type":"string","description":"","properties":{}},"LastVisitedByDesc":{"type":"string","description":"","properties":{}}}},"AlarmCoverageAreaCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlarmDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlarmDescCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlarmTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlcoholPolicyInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlcoholSalesHrs":{"type":"object","format":"DURATION","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"EffectiveDt":{"type":"string","description":"","properties":{}},"ExpirationDt":{"type":"string","description":"","properties":{}},"StartTime":{"type":"string","description":"","properties":{}},"EndTime":{"type":"string","description":"","properties":{}},"LocalStandardTimeInd":{"type":"string","description":"","properties":{}},"DurationPeriod":{"type":"string","description":"","properties":{}},"ContinuousInd":{"type":"string","description":"","properties":{}},"Description":{"type":"string","description":"","properties":{}},"GB.BothDaysInclusiveInd":{"type":"string","description":"","properties":{}},"LapsePeriod":{"type":"string","description":"","properties":{}}}},"AlcoholServedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlcoholServersCertifiedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AllLocationInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AllowancePerMonthAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AllowOthersInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlterationsAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AlterationsDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlteredInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlternateDrivingStateProvCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlternateDrivingStateProvUsePct":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlternateWordingCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AlternateWordingDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Amt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AmtTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AmusementDeviceCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AmusementDevicesInfo":{"type":"object","format":"AmusementDevicesInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AmusementDeviceCd":{"type":"string","description":"","properties":{}},"NumUnits":{"type":"string","description":"","properties":{}},"Description":{"type":"string","description":"","properties":{}}}},"AnchoringSystemCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnimalAccommodationsCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnimalExposureInfo":{"type":"object","format":"AnimalExposureInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AnimalTypeCd":{"type":"string","description":"","properties":{}},"BreedCd":{"type":"string","description":"","properties":{}},"Description":{"type":"string","description":"","properties":{}},"NumUnits":{"type":"string","description":"","properties":{}},"BiteHistoryInd":{"type":"string","description":"","properties":{}}}},"AnimalInoculationInfo":{"type":"object","format":"AnimalInoculationInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"InoculationDesc":{"type":"string","description":"","properties":{}},"InoculationDt":{"type":"string","description":"","properties":{}}}},"AnimalItemDefinition":{"type":"object","format":"AnimalItemDefinition_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"RegisteredInd":{"type":"string","description":"","properties":{}},"BirthYr":{"type":"string","description":"","properties":{}},"BirthDt":{"type":"string","description":"","properties":{}},"AnimalName":{"type":"string","description":"","properties":{}},"GenderCd":{"type":"string","description":"","properties":{}},"FertilityInd":{"type":"string","description":"","properties":{}},"UnbornInd":{"type":"string","description":"","properties":{}},"AnimalUseDesc":{"type":"string","description":"","properties":{}},"BreedDesc":{"type":"string","description":"","properties":{}},"Registration":{"type":"string","description":"","properties":{}},"PurchasePriceAmt":{"type":"string","description":"","properties":{}},"PurchaseDt":{"type":"string","description":"","properties":{}},"SireName":{"type":"string","description":"","properties":{}},"DamName":{"type":"string","description":"","properties":{}},"AcquiredFromName":{"type":"string","description":"","properties":{}},"AcquisitionMethodCd":{"type":"string","description":"","properties":{}},"AnimalAccommodationsCd":{"type":"string","description":"","properties":{}},"AcquiredDt":{"type":"string","description":"","properties":{}},"LandArea":{"type":"string","description":"","properties":{}},"MethodPaymentCd":{"type":"string","description":"","properties":{}},"HYPPInd":{"type":"string","description":"","properties":{}},"HYPPStatusCd":{"type":"string","description":"","properties":{}},"CoveringStallionName":{"type":"string","description":"","properties":{}},"StudFeeAmt":{"type":"string","description":"","properties":{}}}},"AnimalName":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnimalTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnimalUseDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnniversaryRatingDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnnualAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AnnualCostAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AnnualGrossReceiptsAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AnnualGrossSalesFOBPct":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnnualLeaseReceiptsAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AnnualNetReceiptsAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AnnualSalesAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AnnualTrainingInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnnuityPurchaseAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AntiLockBrakeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AntiTheftDeviceCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AntiTheftDeviceInfo":{"type":"object","format":"AntiTheftDeviceInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AntiTheftDeviceCd":{"type":"string","description":"","properties":{}},"AntiTheftProductCd":{"type":"string","description":"","properties":{}},"AntiTheftEngravingDevMfrCd":{"type":"string","description":"","properties":{}}}},"AntiTheftEngravingDevMfrCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AntiTheftProductCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnyDisputesInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AnyLossesAccidentsConvictionsInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AOPANumber":{"type":"object","format":"","description":"","xml":{},"properties":{}},"APIPSymbolCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AppetiteRequestInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApplicantInterestCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApplicantLiabilityCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApplicantRiskPct":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApplicantsStatementDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApplicantWageContinuationPlanName":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApplicationReceivedByAgencyDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApplicationWrittenDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AppointmentDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AppraisalDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AppraisalInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AppraiserActivityCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AppraiserActivityDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AppraiserActivityInfo":{"type":"object","format":"AppraiserActivityInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AppraiserRef":{"type":"string","description":"","xml":{"attribute":true}},"AppraiserActivityDt":{"type":"string","description":"","properties":{}},"AppraiserActivityCd":{"type":"string","description":"","properties":{}},"AppraiserValueAmt":{"type":"string","description":"","properties":{}}}},"AppraiserValueAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"ApprovalStatusCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"ApprovedFenceInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"Area":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"AreaBelowElevatedBldgObstructedCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AreaBelowElevatedFloorEnclosedCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AreaLeasedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AreaOccupied":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"AreaOccupiedByOthers":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"AreaOccupiedByOthersDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AreaOpenToPublic":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"AreaTypeSurroundingsCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AreaTypeSurroundingsDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AreaUnoccupied":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"ArrestedOrDetainedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AshContainerDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AshStorageDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AsOfDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AssignedDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AssignedRiskFacilityCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AssignedRiskReasonCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AssignmentDt":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AssignmentReasonDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AtFaultPct":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachedAntennaInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachedSatelliteDishInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachmentDesc":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachmentFilename":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachmentResponsibilityCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachmentStatusCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttachmentTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AttendSchoolInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AUDIT_CHOICE":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuditFrequencyCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuditInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuditInfo":{"type":"object","format":"AuditInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"AuditorRef":{"type":"string","description":"","xml":{"attribute":true}},"ItemIdInfo":{"type":"string","description":"","properties":{}},"AuditTypeCd":{"type":"string","description":"","properties":{}},"AuditPeriod":{"type":"string","description":"","properties":{}},"AuditSourceCd":{"type":"string","description":"","properties":{}},"AuditRenderedCd":{"type":"string","description":"","properties":{}},"LastCashAuditDt":{"type":"string","description":"","properties":{}},"LastInventoryAuditDt":{"type":"string","description":"","properties":{}},"AuditMethodCd":{"type":"string","description":"","properties":{}},"AuditFrequencyCd":{"type":"string","description":"","properties":{}},"AuditTransactionTypeCd":{"type":"string","description":"","properties":{}},"EstimatedAuditInd":{"type":"string","description":"","properties":{}},"ReviewAuditCd":{"type":"string","description":"","properties":{}},"InventoryFrequencyCd":{"type":"string","description":"","properties":{}},"MaxSingleTransferAmt":{"type":"string","description":"","properties":{}},"LastInventoryAuditAmt":{"type":"string","description":"","properties":{}},"PriorInventoryAuditAmt":{"type":"string","description":"","properties":{}},"PriorInventoryAuditDt":{"type":"string","description":"","properties":{}}}},"AuditMethodCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuditPeriod":{"type":"object","format":"DURATION","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"EffectiveDt":{"type":"string","description":"","properties":{}},"ExpirationDt":{"type":"string","description":"","properties":{}},"StartTime":{"type":"string","description":"","properties":{}},"EndTime":{"type":"string","description":"","properties":{}},"LocalStandardTimeInd":{"type":"string","description":"","properties":{}},"DurationPeriod":{"type":"string","description":"","properties":{}},"ContinuousInd":{"type":"string","description":"","properties":{}},"Description":{"type":"string","description":"","properties":{}},"GB.BothDaysInclusiveInd":{"type":"string","description":"","properties":{}},"LapsePeriod":{"type":"string","description":"","properties":{}}}},"AuditRenderedCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuditSourceCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuditTransactionTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuditTypeCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuthorityTypeCargoCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuthorityTypeLiabilityCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuthorizedRepInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuthorizeMedRecsInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AuthorizeSSNInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutoFuelSalesInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutoLoanSymbolCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutoLossInfo":{"type":"object","format":"AutoLossInfo_Type","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"ViewItemRef":{"type":"string","description":"","xml":{"attribute":true}},"OwnerRef":{"type":"string","description":"","xml":{"attribute":true}},"LossPayeeRef":{"type":"string","description":"","xml":{"attribute":true}},"ClaimsPartyRefs":{"type":"string","description":"","xml":{"attribute":true}},"AutoLossInfoRef":{"type":"string","description":"","xml":{"attribute":true}},"VehInfo":{"type":"string","description":"","properties":{}},"ModelCd":{"type":"string","description":"","properties":{}},"InventoryNumberId":{"type":"string","description":"","properties":{}},"AirBagInfo":{"type":"string","description":"","properties":{}},"ObjectLossDesc":{"type":"string","description":"","properties":{}},"ImpactPointCd":{"type":"string","description":"","properties":{}},"DamageDesc":{"type":"string","description":"","properties":{}},"WhereSeenDesc":{"type":"string","description":"","properties":{}},"OtherInsuranceInd":{"type":"string","description":"","properties":{}},"PropertyDamagedVehInd":{"type":"string","description":"","properties":{}},"ProbableIncurredAmt":{"type":"string","description":"","properties":{}},"Coverage":{"type":"string","description":"","properties":{}},"DrivableInd":{"type":"string","description":"","properties":{}}}},"AutomaticCollateralRenewalInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutomaticTriggerInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutoMedicalPaymentsSymbolCd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutomobileCoverageInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutosFinancedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutosOwnedFinancedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AutosOwnedInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AverageOccupancyGuestRoomsPct":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AverageProjectCostAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AverageProjectTerm":{"type":"object","format":"MEASUREMENT","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"NumUnits":{"type":"string","description":"","properties":{}},"UnitMeasurementCd":{"type":"string","description":"","properties":{}}}},"AvgAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AVGasSalesInd":{"type":"object","format":"","description":"","xml":{},"properties":{}},"AvgCarriedAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","xml":{"attribute":true}},"SourceSystemRef":{"type":"string","description":"","xml":{"attribute":true}},"Amt":{"type":"string","description":"","properties":{}},"CurCd":{"type":"string","description":"","properties":{}}}},"AvgDailyAmt":{"type":"object","format":"CURRENCY","description":"","xml":{},"properties":{"id":{"type":"string","description":"","xml":{"attribute":true}},"ConversionRateRef":{"type":"string","description":"","
[...]
